<div class="main-container bg-dark">
    <div class="address-container shadow bg-light rounded-4">
        <div>
            <div class="text-center fw-bold title">
                <span class="first-word">Via</span>
                <span class="secound-word">Cep</span>
            </div>

            <form [formGroup]="form" (ngSubmit)="clickTest()">
                <div class="d-flex">
                    <div class="position-relative w-100 me-2">
                        <input type="text" class="form-control w-100 pe-5" placeholder="Digite seu CEP" formControlName="cep">
                        <span class="position-absolute top-50 end-0 translate-middle-y me-3 text-secondary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </div>

                    <div>
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container mt-4 w-100">
            <div class="shadow-sm border-0 rounded-4 p-3" style="background-color: #788ea327;">
                <h5 class="mb-3 fw-bold text-center">
                    Seu Endereço
                </h5>
                <div class="d-flex flex-column gap-1">
                    <div><strong>CEP:{{ address.cep }}</strong> </div>
                    <div><strong>Cidade:{{ address.city }}</strong> </div>
                    <div><strong>UF:{{ address.uf }}</strong> </div>
                    <div><strong>Bairro: {{ address.neighborhood }}</strong> </div>
                </div>
            </div>
        </div>
    </div>
</div>